* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../pwpic/a1.png");
    background-size: cover;
    background-attachment: fixed;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-top:15px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffc233;
  }
  
  .logo,
  .list-item {
    cursor: pointer;
  }
  
  .button-small {
    padding: 10px 40px;
    background-color: #ff505f;
    border: none;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
  }
 
  .hero {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
  }
  
  .hero-heading {
    font-family: "Dela Gothic One", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #ffc233;
  }
  
  .button-large {
    background: #ff505f;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    border: none;
    padding: 16px 54px;
    margin-top: 30px;
    cursor: pointer;
  }
  .bottom {
    position: absolute;
    bottom: 5px;
    right: 40px;
  }